:root{
    --primary-color: #06b6d4;
    --primary-dark: #164e63;
    --secondary-color: #e2e8f0;
}

*{
    margin: 0%;
}

body{
    background: linear-gradient(238.72deg, #EBFF00 0%, #7700D5 100%), linear-gradient(64.82deg, #AD00FF 0%, #FF0000 100%), linear-gradient(65.03deg, #00FFFF 0%, #FF0000 99.79%), radial-gradient(67.08% 100% at 50% 0%, #FF00C7 0%, #1400FF 100%), radial-gradient(100% 140% at 100% 0%, #5ED500 0%, #2200AA 100%);
    background-blend-mode: color-dodge, difference, lighten, color-dodge, normal;}

.container{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

#heading{
    padding: 3rem 1rem 1rem 1rem;
    text-align: center;
    color: var(--primary-color);
}

label{
    text-align: center;
    margin: 0.5rem;
    font-weight: bold;
}

input{
    display: block;
    margin: auto;
    max-width: 300px;
    width: 100%;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid black;
}

#checkButton{
    margin: 1rem auto;
    font-size: large;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: var(--secondary-color);
}

#output{
    padding: 1rem;
    text-align: center;
    color: var(--primary-dark);
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 2.5rem 0;
}